.gameCard {
    display: inline-block;
    margin: 5px;
}
.cardBody {
    text-align: center;
}

footer {
    text-align: center;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}
.nav-item {

font-weight: bold;

}
.sign {
    margin-top: 0;
    text-align: center;
    background-image: url(../images/gameCityLogo.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.page-footer {
    margin-top: 100px;
}
.container {
    height: 500px;
    width: 500px;
}
.landingBody {
    background-image: url(../images/cityBackground.jpg);
    background-size: cover;
}
/* i.fas {

    box-sizing: 200px;
    box-sizing: 200px;

} */

/* .nav-item {
    animation-duration: 3s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
  } */